<!-- STRÁNKA PRO REGISTRACI UŽIVATELE -->


<!-- PROPOJENÍ S LAYOUTEM -->
{% extends "layout.html" %}
<!-- [% extends "layout.html" %]: propojení s hlavním layoutem [jinja2] -->


<!-- BLOK PRO ROZŠÍŘENÍ LAYOUTU -->
{% block content %}
<!-- [% block content %]: začátek bloku [jinja2] -->


    <!-- KONTEJNER PRO OBSAH STRÁNKY -->
    <div class="content-section">
        <!-- div: začátek kontejneru na obsah stránky [html] -->
        <!-- class="content-section": třída pro nastavení vzhledu [css] -->


        <!-- ZAČÁTEK FORMULÁŘOVÉ OBLASTI -->
        <form method="POST" action="">
        <!-- form: začátek formulářové části [html] -->
        <!-- method="POST": nastavení metody na odesílání dat [html] -->
        <!-- action="": atribut určující, kam se mají odeslat data formuláře při odeslání formuláře [html] -->


            <!-- VYTVOŘENÍ SKRYTÉHO POLE PRO TOKEN -->
            {{ form.hidden_tag() }}
            <!-- [[ form.hidden_tag() ]]: generátor skrytého pole pro token (hiden_tag je součást ochrany SECRET_KEY pro odesílání dat) [jinja2] -->


            <!-- SESKUPENÍ FORMULÁŘOVÝCH POLÍ -->
            <fieldset class="form-group">
            <!-- fieldset: začátek oblasti seskupující společné prvky formuláře [html] -->
            <!-- class="form-group": třída pro nastavení vzhledu [bootstrap] -->


                <!-- NADPIS SEKCE -->
                <legend class="border-bottom mb-4">{{ _("Join Today") }}</legend>
                <!-- legend: začátek oblasti nadpisu pro spojlečné prvky formuláře [html] -->
                <!-- class="border-bottom mb-4": třída pro nastavení vzhledu [bootstrap] -->
                <!-- [[ _(Join Today) ]] zobrazený text + označení textu pro překlad [jinja2] [babel] -->
                <!-- /legend: konec oblasti nadpisu pro spojlečné prvky formuláře [html] -->


                <!-- POLE PRO UŽIVATELSKÉ JMÉNO -->
                <div class="form-group">
                <!-- div: začátek části pro vstupní pole [html] -->
                <!-- class="form-group": třída pro nastavení vzhledu [bootstrap] -->


                    <!-- POPISEK POLE -->
                    {{ form.username.label(class="form-control-label") }}
                    <!-- [[form.username.label(): pole pro název pole [jinja2] -->
                    <!-- (class="form-control-label")]]: třída pro nastavení vzhledu [bootstrap] -->


                    <!-- ZACHACENÍ CHYBNÉHO VSTUPU -->
                    {% if form.username.errors %}
                    <!-- [% if form.username.errors %]: podmínka (if) pro případ výskytu chyby [jinja2] -->


                        <!-- ZACHACENÍ DRUHU CHYBY -->
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <!-- [[form.username(): vstupní pole pro data [jinja2] -->
                        <!-- (class="form-control form-control-lg is-invalid")]]: třída pro nastavení vzhledu [bootstrap] -->


                        <!-- KONTEJNER PRO OZNAM O CHYBĚ -->
                        <div class="invalid-feedback">
                        <!-- div: začátek oblasti pro zachycení a výpis chyb [html] -->
                        <!-- class="invalid-feedback": třída pro nastavení vzhledu [bootstrap] -->


                            <!-- PROCHÁZENÍ CHYB -->
                            {% for error in form.username.errors %}
                            <!-- [% for error in form.username.errors %]: cyklus (for) pro seznam zachycených chyb [jinja2] -->


                                <!-- VÝPIS CHYBY -->
                                <span>{{ error }}</span>
                                <!-- span: začátek řádkového elementu [html] -->
                                <!-- [[ error ]]: výpis chyby [jinja2] -->
                                <!-- /span: konec řádkového elementu [html] -->

                            {% endfor %}
                            <!-- [% endfor %]: konec cyklu (for) [jinja2] -->

                        </div>
                        <!-- /div: konec oblasti pro zachycení a výpis chyb [html] -->


                    <!-- PODMÍNKA POKUD JE ZADÁNÍ SPRÁVNÉ -->
                    {% else %}
                    <!-- [% else %]: pokud předchozí podmínka není splněna [jinja2] -->


                        <!-- NAČTENÍ DAT -->
                        {{ form.username(class="form-control form-control-lg") }}
                        <!-- [[form.username(): vstupní pole pro data [jinja2] -->
                        <!-- (class="form-control form-control-lg")]]: třída pro nastavení vzhledu [bootstrap] -->

                    {% endif %}
                    <!-- [% endif %]: konec podmínky (if) [jinja2] -->

                </div>
                <!-- /div: konec části pro vstupní pole [html] -->


                <!-- POLE PRO EMAIL -->
                <div class="form-group">
                <!-- div: začátek části pro vstupní pole [html] -->
                <!-- class="form-group": třída pro nastavení vzhledu [bootstrap] -->


                    <!-- POPISEK POLE -->
                    {{ form.email.label(class="form-control-label") }}
                    <!-- [[form.email.label(): pole pro název pole [jinja2] -->
                    <!-- (class="form-control-label")]]: třída pro nastavení vzhledu [bootstrap] -->


                    <!-- ZACHACENÍ CHYBNÉHO VSTUPU -->
                    {% if form.email.errors %}
                    <!-- [% if form.email.errors %]: podmínka (if) pro případ výskytu chyby [jinja2] -->


                        <!-- ZACHACENÍ DRUHU CHYBY -->
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <!-- [[form.email(): vstupní pole pro data [jinja2] -->
                        <!-- (class="form-control form-control-lg is-invalid")]]: třída pro nastavení vzhledu [bootstrap] -->


                        <!-- KONTEJNER PRO OZNAM O CHYBĚ -->
                        <div class="invalid-feedback">
                        <!-- div: začátek oblasti pro zachycení a výpis chyb [html] -->
                        <!-- class="invalid-feedback": třída pro nastavení vzhledu [bootstrap] -->


                            <!-- PROCHÁZENÍ CHYB -->
                            {% for error in form.email.errors %}
                            <!-- [% for error in form.username.errors %]: cyklus (for) pro seznam zachycených chyb [jinja2] -->


                                <!-- VÝPIS CHYBY -->
                                <span>{{ error }}</span>
                                <!-- span: začátek řádkového elementu [html] -->
                                <!-- [[ error ]]: výpis chyby [jinja2] -->
                                <!-- /span: konec řádkového elementu [html] -->

                            {% endfor %}
                            <!-- [% endfor %]: konec cyklu (for) [jinja2] -->

                        </div>
                        <!-- /div: konec oblasti pro zachycení a výpis chyb [html] -->


                    <!-- PODMÍNKA POKUD JE ZADÁNÍ SPRÁVNÉ -->
                    {% else %}
                    <!-- [% else %]: pokud předchozí podmínka není splněna [jinja2] -->


                        <!-- NAČTENÍ DAT -->
                        {{ form.email(class="form-control form-control-lg") }}
                        <!-- [[form.email(): vstupní pole pro data [jinja2] -->
                        <!-- (class="form-control form-control-lg")]]: třída pro nastavení vzhledu [bootstrap] -->

                    {% endif %}
                    <!-- [% endif %]: konec podmínky (if) [jinja2] -->

                </div>
                <!-- /div: konec části pro vstupní pole [html] -->


                <!-- POLE PRO HESLO -->
                <div class="form-group">
                <!-- div: začátek části pro vstupní pole [html] -->
                <!-- class="form-group": třída pro nastavení vzhledu [bootstrap] -->


                    <!-- POPISEK POLE -->
                    {{ form.password.label(class="form-control-label") }}
                    <!-- [[form.password.label(): pole pro název pole [jinja2] -->
                    <!-- (class="form-control-label")]]: třída pro nastavení vzhledu [bootstrap] -->


                    <!-- ZACHACENÍ CHYBNÉHO VSTUPU -->
                    {% if form.password.errors %}
                    <!-- [% if form.password.errors %]: podmínka (if) pro případ výskytu chyby [jinja2] -->


                        <!-- ZACHACENÍ DRUHU CHYBY -->
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <!-- [[form.password(): vstupní pole pro data [jinja2] -->
                        <!-- (class="form-control form-control-lg is-invalid")]]: třída pro nastavení vzhledu [bootstrap] -->


                        <!-- KONTEJNER PRO OZNAM O CHYBĚ -->
                        <div class="invalid-feedback">
                        <!-- div: začátek oblasti pro zachycení a výpis chyb [html] -->
                        <!-- class="invalid-feedback": třída pro nastavení vzhledu [bootstrap] -->


                            <!-- PROCHÁZENÍ CHYB -->
                            {% for error in form.password.errors %}
                            <!-- [% for error in form.username.errors %]: cyklus (for) pro seznam zachycených chyb [jinja2] -->


                                <!-- VÝPIS CHYBY -->
                                <span>{{ error }}</span>
                                <!-- span: začátek řádkového elementu [html] -->
                                <!-- [[ error ]]: výpis chyby [jinja2] -->
                                <!-- /span: konec řádkového elementu [html] -->

                            {% endfor %}
                            <!-- [% endfor %]: konec cyklu (for) [jinja2] -->

                        </div>
                        <!-- /div: konec oblasti pro zachycení a výpis chyb [html] -->


                    <!-- PODMÍNKA POKUD JE ZADÁNÍ SPRÁVNÉ -->
                    {% else %}
                    <!-- [% else %]: pokud předchozí podmínka není splněna [jinja2] -->


                        <!-- NAČTENÍ DAT -->
                        {{ form.password(class="form-control form-control-lg") }}
                        <!-- [[form.password(): vstupní pole pro data [jinja2] -->
                        <!-- (class="form-control form-control-lg")]]: třída pro nastavení vzhledu [bootstrap] -->

                    {% endif %}
                    <!-- [% endif %]: konec podmínky (if) [jinja2] -->

                </div>
                <!-- /div: konec části pro vstupní pole [html] -->


                <!-- POLE PRO POTVRZENÍ HESLA -->
                <div class="form-group">
                <!-- div: začátek části pro vstupní pole [html] -->
                <!-- class="form-group": třída pro nastavení vzhledu [bootstrap] -->


                    <!-- POPISEK POLE -->
                    {{ form.confirm_password.label(class="form-control-label") }}
                    <!-- [[form.confirm_password.label(): pole pro název pole [jinja2] -->
                    <!-- (class="form-control-label")]]: třída pro nastavení vzhledu [bootstrap] -->


                    <!-- ZACHACENÍ CHYBNÉHO VSTUPU -->
                    {% if form.confirm_password.errors %}
                    <!-- [% if form.confirm_password.errors %]: podmínka (if) pro případ výskytu chyby [jinja2] -->


                        <!-- ZACHACENÍ DRUHU CHYBY -->
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <!-- [[form.confirm_password(): vstupní pole pro data [jinja2] -->
                        <!-- (class="form-control form-control-lg is-invalid")]]: třída pro nastavení vzhledu [bootstrap] -->


                        <!-- KONTEJNER PRO OZNAM O CHYBĚ -->
                        <div class="invalid-feedback">
                        <!-- div: začátek oblasti pro zachycení a výpis chyb [html] -->
                        <!-- class="invalid-feedback": třída pro nastavení vzhledu [bootstrap] -->


                            <!-- PROCHÁZENÍ CHYB -->
                            {% for error in form.confirm_password.errors %}
                            <!-- [% for error in form.username.errors %]: cyklus (for) pro seznam zachycených chyb [jinja2] -->


                                <!-- VÝPIS CHYBY -->
                                <span>{{ error }}</span>
                                <!-- span: začátek řádkového elementu [html] -->
                                <!-- [[ error ]]: výpis chyby [jinja2] -->
                                <!-- /span: konec řádkového elementu [html] -->

                            {% endfor %}
                            <!-- [% endfor %]: konec cyklu (for) [jinja2] -->

                        </div>
                        <!-- /div: konec oblasti pro zachycení a výpis chyb [html] -->


                    <!-- PODMÍNKA POKUD JE ZADÁNÍ SPRÁVNÉ -->
                    {% else %}
                    <!-- [% else %]: pokud předchozí podmínka není splněna [jinja2] -->


                        <!-- NAČTENÍ DAT -->
                        {{ form.confirm_password(class="form-control form-control-lg") }}
                        <!-- [[form.confirm_password(): vstupní pole pro data [jinja2] -->
                        <!-- (class="form-control form-control-lg")]]: třída pro nastavení vzhledu [bootstrap] -->

                    {% endif %}
                    <!-- [% endif %]: konec podmínky (if) [jinja2] -->

                </div>
                <!-- /div: konec části pro vstupní pole [html] -->

            </fieldset>
            <!-- /fieldset: konec oblasti seskupující společné prvky formuláře [html] -->


            <!-- KONTEJNER PRO ODESÍLACÍ TLAČÍTKO -->
            <div class="form-group">
            <!-- div: začátek části pro vstupní pole [html] -->
            <!-- class="form-group": třída pro nastavení vzhledu [bootstrap] -->


                <!-- TLAČÍTKO PRO ODESLÁNÍ DAT -->
                {{ form.submit(class="btn btn-outline-info") }}
                <!-- [form.submit(): příkaz na odeslání dat formuláře [jinja2] -->
                <!-- [(class="btn btn-outline-info"): třída pro nastavení vzhledu [bootstrap] -->

            </div>
            <!-- /div: konec části pro odesílací tlačítko [html] -->

        </form>
        <!-- /form: konec formulářové části [html] -->

    </div>
    <!-- /div: konec [html] -->


    <!-- KONTEJNER PRO ODKAZ NA STRÁNKU PŘIHLÁŠENÍ -->
    <div class="border-top pt-3">
        <!-- div: začátek části pro odkaz na stránku přihlášení [html] -->
        <!-- class="border-top pt-3": třída pro nastavení vzhledu [bootstrap] -->


        <!-- KONTEJNER PRO MALÝ TEXT -->
        <small class="text-muted">
            <!-- small: začátek oblasti s malým písmem [html] -->
            <!-- class="text-muted": třída pro nastavení vzhledu [bootstrap] -->


            <!-- POPIS A ODKAZ NA STRÁNKU PŘIHLÁŠENÍ -->
            {{ _("Already Have An Account?") }} <a class="ml-2" href="{{ url_for('users.login') }}">{{ _("Sign In") }}</a>
            <!-- Already Have An Account?: text [html] -->
            <!-- a: začátek části pro hypertextový odkaz [html] -->
            <!-- class="ml-2": třída pro nastavení vzhledu [bootstrap] -->
            <!-- href="[[ url_for...: specifikuje umístění dokumentu pomocí metody url_for [html] [jinja2] -->
            <!-- [[ _(Sign In) ]] zobrazený text + označení textu pro překlad [jinja2] [babel] -->
            <!-- /a: konec části pro hypertextový odkaz [html] -->

        </small>
        <!-- /small: konec oblasti s malým písmem [html] -->

    </div>
    <!-- /div: konec části pro odkaz na stránku přihlášení [html] -->

{% endblock content %}
<!-- [% endblock content %]: konec bloku [jinja2] -->